@breakpoint-mobile : 420;
@mobile 	: ~"all and (max-width: @{breakpoint-mobile}px), (max-height: @{breakpoint-mobile}px)";
@non-mobile : ~"all and (min-width: @{breakpoint-mobile}px), (min-height: @{breakpoint-mobile}px)";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #222;
	color: #fff;
}
html {
	font-family: 'Oswald', 'Helvetica Neue', Helvetica, serif;
	font-weight: 300;
	font-size: 62.5%;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
body {
	font-size: 1.5em;
	line-height: 1.45;
}
*, *:before, *:after {
	box-sizing: inherit;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

[v-cloak] {
	display: none;
}

.day 		{ background: #c58b00; }
.twilight 	{ background: #637234; }
.night 		{ background: #005869; }
.night svg {
	rect#clock-indicator-long  { fill: #000; }
	rect#clock-indicator-short { fill: #fff; }
}

#app {

	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;

	#clock {
		width: 400px;
		height: 400px;
		position: relative;
		top: 50%;
		left: 50%;
		text-transform: uppercase;
		cursor: default;
		transform: translate(-50%, -50%) scale(1);
		@media @mobile { transform: translate(-50%, -50%) scale(0.75); }

		#clock-stg {
			position: absolute;
			top: 110px;
			left: 130px;
			width: 140px;
			height: 85px;
			font-size: 7.2rem;
			line-height: 72px;
			text-align: center;
			border-bottom: dotted rgba(255, 255, 255, .5) 1px;
			text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
		}
		#clock-txt {
			position: absolute;
			top: 200px;
			left: 130px;
			width: 140px;
			height: 100px;
			font-size: 1.6rem;
			color: rgba(0, 0, 0, .5);

			span { display: block; }
			#clock-txt-num {
				position: absolute;
				top: 0;
				left: 0;
				width: 80px;
				height: 50px;
				line-height: 50px;
				text-align: right;
				font-size: 42px;
			}
			#clock-txt-deg,
			#clock-txt-rest {
				position: absolute;
				left: 80px;
				width: 60px;
				height: 25px;
				line-height: 25px;
				padding: 0 0 0 5px;
			}
				#clock-txt-deg {
					top: 0;
					text-indent: -1000em;
					&:before {
						content: '';
						display: block;
						height: 12px;
						width: 12px;
						border-radius: 10px;
						border: solid rgba(0, 0, 0, .5) 3px;
						position: absolute;
						top: 10px;
						left: 5px;
					}
				}
				#clock-txt-rest {
					top: 25px;
					font-weight: 400;
				}
			#clock-txt-before,
			#clock-txt-next {
				position: absolute;
				left: 0;
				width: 140px;
				height: 25px;
				line-height: 25px;
				text-align: center;
				white-space: nowrap;
			}
				#clock-txt-before {
					top: 50px;
				}
				#clock-txt-next {
					top: 75px;
					font-weight: 700;
					font-size: 2rem;
				}
		}
	}
}


#switch {
	z-index: 4;
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	cursor: pointer;

	a {
		display: block;
		height: 20px;
		width: 20px;
		text-indent: -1000em;
		border-top: solid #fff 2px;
		position: relative;
		top: 20px;
		left: 20px;
		opacity: .5;

		&:before,
		&:after {
			content: '';
			display: block;
			width: 20px;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 0;
			margin-top: -2px;
		}
		&:before { top: 50%; }
		&:after { top: 100%; }
	}
	a:hover { opacity: 1; }

	&.opened {
		a {
			border-top: solid transparent 2px;
			&:before {
				transform: rotate(45deg) scaleX(1.6);
			}
			&:after {
				top: 50%;
				transform: rotate(-45deg) scaleX(1.6);
			}
		}
	}
}

.panel() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#sidebar {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	#sidebar-content {
		position: absolute;
		top: 0;
		right: -100%;
		height: 100%;
		width: 90%;
		max-width: 420px;
		box-shadow: -10px 0 25px rgba(0, 0, 0, .5);
		padding: 20px 80px 20px 20px;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
		background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
		overflow: scroll;
	}
	#sidebar-background {
		.panel();
		background: rgba(0, 0, 0, .5);
		opacity: 0;
	}

	.sidebar-text {
		h1, h2 {
			font-size: 1.6rem;
			font-weight: 400;
			text-transform: uppercase;
			color: rgba(255, 255, 255, .75);
		}
		h1 {
			margin: 0 0 10px 0;
		}
		h2 {
			margin: 10px 0;
		}
		p, ul {
			font-family: 'Helvetica Neue', Helvetica, serif;
			font-size: 1.4rem;
			font-weight: 300;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
		}
		p {
			margin: 0 0 20px 0;
		}
		ul {
			margin: 0 0 20px 20px;
			padding: 0;

			li {
				margin: 0;
				padding: 0;
			}
		}
		a {
			text-decoration: none;
			color: #fff;
			border-bottom: solid rgba(255, 255, 255, .5) 1px;
		}
		a:hover {
			background: rgba(0, 0, 0, .1);
			border-bottom: solid rgba(255, 255, 255, 1) 1px;
		}

		p#credits {
			margin: 30px 0 0 0;
			border-top: dotted rgba(255, 255, 255, .5) 1px;
			padding: 20px 0 0 0;
			font-size: 1.2rem;
		}
		button {
			font-family: inherit;
			cursor: pointer;
			display: inline-block;
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: .2rem;
			text-align: center;
			color: rgba(255, 255, 255, .5);
			background: transparent;
			border: solid rgba(255, 255, 255, .5) 1px;
			border-radius: 3px;
			white-space: nowrap;
			vertical-align: top;
			width: 100%;
			padding: 0 1rem;
			height: 4rem;
			line-height: 4rem;
		}
		button:hover {
			color: rgba(255, 255, 255, 1);
			border: solid rgba(255, 255, 255, 1) 1px;
		}
	}

	&.opened {
		#sidebar-content { right: 0; }
		#sidebar-background { opacity: 1; }
	}
}


@-webkit-keyframes spin {
    from { -webkit-transform: rotate( 0deg ); }
    to { -webkit-transform: rotate( 360deg ); }
}
@keyframes spin {
    from { transform:rotate( 0deg ); }
    to { transform:rotate( 360deg ); }
}

#loader {
	.panel();
	z-index: 2;
	opacity: 1;

	&.loaded {
		opacity: 0;
		#loader-background {}
		#loader-spin {
			&:before,
			&:after {
				-webkit-animation: none;
				animation: none;
			}
		}
	}

	#loader-background {
		.panel();
		background: rgba(0, 0, 0, .5);
	}

	#loader-spin {
		display: block;
		width: 60px;
		height: 60px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			display: block;
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
		&:before {
			width: 58px;
			height: 58px;
			margin: 1px;
			border: solid #fff 10px;
			border-left-color: rgba(255, 255, 255, .5);
			border-top-color: rgba(255, 255, 255, .5);
			-webkit-animation: spin 2s infinite linear;
			animation: spin 2.4s infinite ease-in-out;
		}
		&:after {
			border: solid #000 12px;
			border-right-color: transparent;
			border-bottom-color: transparent;
			-webkit-animation: spin 2.8s infinite linear;
			animation: spin 2.8s infinite linear;
		}
	}
}

@keyframes octocat-wave{
	0%, 100% { transform:rotate(0) }
	20%, 60% { transform:rotate(-25deg) }
	40%, 80% { transform:rotate(10deg) }
}
#github-corner {
	z-index: 1;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;

	.octo-arm { transform-origin: 130px 106px; }
	&:hover .octo-arm { animation: octocat-wave 560ms ease-in-out }

	svg {
		fill: #000;
		color: #fff;
		position: absolute;
		top: 0;
		border: 0;
		left: 0;
		transform: scale(-1, 1);
	}

	&.on_top {
		z-index: 5;
	}

}
@media @mobile {
	#github-corner:hover .octo-arm { animation:none }
	#github-corner .octo-arm { animation:octocat-wave 560ms ease-in-out }
}

.day #github-corner svg { color: #c58b00; }
.twilight #github-corner svg { color: #637234; }
.night #github-corner svg { color: #005869; }
